<!-- navbar.html -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Skystore</h5>
    <nav class="ms-5 d-flex justify-content-center flex-grow-1 gap-3">
        <div class="btn-group" style="width: 50%;">
            <a class="p-2 btn btn-light" style="border-radius: 25px;" href="/">Каталог</a>
            <a class="p-2 btn btn-light" style="border-radius: 25px;" href="/blog/blog_list/">Блог</a>
        </div>
    </nav>
</div>
